
.workArea{
    clear:left;
    height:60%;
}

.portfolioHdr{
    margin-left:10%;
    color:#4aaaa5;
    font-size:24;
}

hr{
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    width:70%;
    margin-left:10%;
}
.picBlock{
    position:relative;  
    height:40%;
}
.pic{
    height:65%;
    width:60%;
    margin-left:40%;
    margin-top:20px;
}
.picOverlay{
    height:35%;
    width:60%;
    background-color:#4aaaa5;
    color:white;
    position:absolute;
    bottom:0;
    margin-left:40%;
}
.pb1, .pb2, .pb3{
    float:left;
}
.clearBoth{
    clear:both;
}
.pb4, .pb5{
    float:left;
}

@media screen and (max-width:1020px)
{
    .workArea{
        height:100%;
    }

    .picBlock{
        margin-left:10%;
        clear:both;
        width:60%;
        height:18%;
    }
    .picOverlay, .pic{
        margin-left:15;
    }

}
