html, body{
    height:100%;
}
.everything{
    padding:0px;
    margin:0px;
    min-height:100%;
}

.topBar{
    background-color:#ffffff;
    height:15%;
    width:100%;
    position:relative;
    border-style:solid;
    border-color:#cccccc;
    border-width:4px;

}

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color:white;
    height:70%;
    width: 20%;
    text-align: center;
    float: left;
    position:absolute;
    bottom:2;   
    margin-left: 30%;
}
nav {
    float:left;
    height:15%;
    position:absolute;
    bottom:6;
    margin-left: 55%;
}
body{
    background-image: url('../images/beige-tiles.png');
}

h1, h2, h3, h4, h5, h6{
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p, footer {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
}

.workArea{
    height:100%;
    width:75%;
    background-color:white;
    margin:0;
    margin-left:12%;
    border-style:solid;
    border-color:#dddddd;
    border-width:4px;
    padding-bottom:15%;
    overflow:auto;
}
footer{
    position:fixed;
    bottom:0px;
    height:15%;
    width:100%;
    background-color: #666666;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    border-top: 8px solid #4aaaa5;
}

/***********************************************/

@media screen and (max-width:768px)
{
    .everything{
        margin-bottom:10%;
    }
    .topbar{
        width:60%;
        height:20%;
        margin:auto;
    }
    header{
        clear:both;
        /*background-color:pink;*/
        position:static;
        margin: 0 auto;
        margin-left:15%;  
        width: 100%;
        height:65%; 
        margin-left:0px;
    }
    nav{
        clear:both;
        position:static;
        margin: 0 auto; 
        width: 100%;
        height:35%; 
    }
    .navLink{
        float: left; 
        margin: 10px 0; 
        padding: 0px; 
        width:33%;
        text-align:center; 
    }
    footer{
        height:10%;
    }
 }

@media screen and (max-width:480px)
{


}